.card-tilte {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.card-tilte .text-title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;
}

.text-account {
    font-family: Poppins, sans-serif;
    margin-top: 16px;
    font-size: 14px;
    color: #f3f4f6;
}